<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-list"></i> <strong>Listado de Tareas</strong>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-responsive-lg">
                        <thead>
                            <tr>
                                <th style="width: 30%">Titulo</th>
                                <th style="width: 30%">Descripción</th>
                                <th style="width: 15%">Tiempo Restante</th>
                                <th style="width: 15%">Desarrollador</th>
                                <th style="width: 10%">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of tasks">
                                <td>{{a.title}}</td>
                                <td>{{a.description}}...</td>
                                <td>{{rest(a)}}</td>
                                <td>{{a.developer.name}}</td>
                                <td>
                                    <a class="btn btn-info" href="#/tasks/update/{{a.id}}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>